<div class="container" style="position: relative">
  <div class="PersonalRecord">
    <h5>Personal Record:</h5>
    Time: {{this.time}} <br>
    Turns: {{this.PB.turns}}
  </div>
  <div class="record-button" (click)="showRecord = !showRecord">Records</div>
  <div class="container" style="z-index: 325; position: absolute;">
    <div *ngIf="showRecord" style="padding-top: 2.5%; padding-bottom: 2.5%">
      <div class="table">
        <app-table [mode]="{turns: true, objective: '', admin: false}"></app-table>
      </div>
      <div class="table">
        <app-table [mode]="{turns: false, objective: '', admin: false}"></app-table>
      </div>
    </div>
  </div>

</div>
