.line{
    float: right;
  @extend %container;
  margin-left: 2%;
  margin-right: 3%;
}
.table{
  float: left;
  @extend %container;
  margin-left: 3%;
  margin-right: 2%;
}
%container{
  width: 45%;
  height: auto;
  background-color: aqua;
}
.PersonalRecord{
  background-color: #3b7568;
  width: 15%;
  height: auto;
  margin: 1%;
  text-align: center;
  padding: 0.01%;
  border-style: solid;
  border-color: #346057;
  border-radius: 10%;
}
.container{
  width: 100%;
  background-color: #2d5048;
  height: auto;
  border-radius: 1%;
  position: absolute;
}
.record-button{
  margin-left: 48%;
  border-radius: 100%;
  text-align: center;
  width:3%;
  padding: 1%;
  background-color: #3b7568;
}
