.container{
  &_level{
    background-color: #929292;
    margin: {
      left: 5%;
      right: 5%;
    }
}
  &_main{
    background-color: #6e6e6e;
    width: 90%;
    margin: {
      left: 5%;
      right: 5%;
    }
    display: flex;
    flex-wrap: wrap;
  }
  height: fit-content;
}
