<div>
  <div class="gameContainer">

  </div>
  <div>
    <div>
      <div>
        <div class="record-button" ng-init="show-record=false">Records</div>
      </div>
    </div>
    <div ng-if="show-record" class="recordContainer">
      <mat-tab-group>
        <mat-tab label="World Record">
          World Record

        </mat-tab>
        <mat-tab label="Record of the Week"> test</mat-tab>
        <mat-tab label="National Record">  test 2 </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
