<div class="container">
  <div class="container_single">
    UserName:
    <mat-form-field [style.fontSize]="12" appearance="fill">
      <mat-label>UserName</mat-label>
      <textarea matInput
        cdkTextareaAutosize #nickName [value]="user.name">
      </textarea>
    </mat-form-field><br/>
    Password:
    <mat-form-field [style.fontSize]="12" appearance="fill">
      <mat-label>Password</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize #password>
      </textarea>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Select Your Country</mat-label>
      <mat-select [(value)]="user.nationality.id">
        <mat-option *ngFor="let country of nationalities" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="editUser(nickName.value, password.value)">Edit User</button>
  </div>
  <div class="container_single">
    <div>
      <app-user-page-record></app-user-page-record>
    </div>
  </div>
</div>
