.container{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 90%;
  margin: 5%;
  background-color: #2d5048;
  height: auto;
  border-radius: 1%;
  position: relative;
  &_single{
    background-color: mediumaquamarine;
    margin: 1%;
  }
  &_buttons{
    display: flex;
  }
}
